<% include header %>
<div class="ui segments">
        <div class="ui teal secondary  segment">
          <p>|| Etat du marché || Temps : 0 Cycles | Taille total de marché : 0 euros </p>
        </div>
      
        <div class="ui segment">

                <div class="ui segments">
                        <div class="ui segment">
                          <p>Liste des concurrents </p>
                        </div>
                        <div class="ui segments">
                          <div class="ui horizontal segments">
                            <div class = "ui compact segment"><%= p1.pName %></div> 
                            <div class = "ui segment">Ressources : <%= p1.pCash%></div>
                            <div class = "ui segment">Revenu: <%= p1.pRevenu%></div>
                            <div class = "ui segment">R&D : <%= p1.pRd%></div>
                            <div class = "ui segment">Dev : <%= p1.pDevTeam%></div>
                            <div class = "ui segment">inv : <%= p1.pInvTeam%></div>
                          </div>
                          <div class="ui horizontal segments">
                                <div class = "ui compact segment"><%= p2.pName %></div> 
                                <div class = "ui segment">Ressources: <%= p2.pCash %></div>
                                <div class = "ui segment">Revenu: <%= p2.pRevenu%></div>
                                <div class = "ui segment">R&D : <%= p2.pRd%></div>
                                <div class = "ui segment">Dev : <%= p2.pDevTeam%></div>
                                <div class = "ui segment">inv : <%= p2.pInvTeam%></div>
                            </div>
                        </div>
                    
                        </div>
                        <div class="ui segment">
                          <p>C'est au tour de <%= DOM.pCurrent %></p>
                        </div>


                        <div class="ui four column centered grid">
                              <div class="column yellow">
                                <a class="ui blue ribbon label">Developer</a>
                                <p>R&D +100/tour - 400e </p>
                                <%if (((DOM.pCurrent === p1.pName) ? p1.pCash : p2.pCash) >= 400) { %>
                                  <form action ="/rd">
                                    <button class="ui primary button right floated"> 400e </button> 
                                  </form>
                                  <% } %>
                              </div>
                              <div class="column orange ">
                                  <p>Recruit dev +400/tour - 1200e </p>
                                  <%if (((DOM.pCurrent === p1.pName) ? p1.pCash : p2.pCash) >= 1200) { %>
                                  <form action ="/hr">
                                    <button class="ui primary button right floated"> 1200e </button> 
                                  </form>
                                  <% } %>
                              </div>
                              <div class="column red">
                                  <p>Recruit Investor +3200/tour - 7500e </p>
                                <%if (((DOM.pCurrent === p1.pName) ? p1.pCash : p2.pCash) >= 7500) { %>
                                  <form action ="/hi">
                                    <button class="ui primary button right floated"> 7500e </button> 
                                  </form>
                                  <% }  %>

                              </div>
                              
                              <form action ="/pass">
                                <button class="ui primary button center floated"> Passer </button> 
                              </form>
                          </div>
                          <!-- <% for (var i=0; i < ((DOM.pCurrent === p1.pName) ? p1.pDevTeam : p2.pDevTeam) ; i++) { %> -->
                           <!-- <% } %> -->
                  </div>
                      


                       
                
        </div>
      </div>


      <% include footer %>
